@model IEnumerable<Category>

<div style="display: flex">
    <h1>Categories</h1>
    <div style="flex-grow: 1; text-align: end">
        <a class="btn btn-dark" asp-action="Create">Додати категорію</a>
    </div>
</div>
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td class="">@category.Id</td>
                    <td>@category.Name</td>
					<td class="text-center">
                        <a class="btn btn-primary" style="margin: 0;" asp-action="Edit" asp-route-id="@category.Id"><i class="bi bi-pencil"></i></a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Категорії не знайдено</h2>
}