@model IEnumerable<Promocode>

<div style="display: flex">
    <h1>PromoCodes</h1>
    <div style="flex-grow: 1; text-align: end">
        @* <a class="btn btn-dark" asp-action="Create">Додати промокод</a> *@
        <span class="btn btn-dark">Додати промокод</span>
    </div>
</div>
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Discount</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var promoCode in Model)
        {
            <tr>
                <td>@promoCode.Id</td>
                <td>@promoCode.Discount</td>
                <td class="text-center">
                    @* <a class="btn btn-primary" style="margin: 0;" asp-action="Edit" asp-route-id="@promoCode.Id"><i class="bi bi-pencil"></i></a> *@
                    @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@promoCode.Id"><i class="bi bi-trash"></i></a> *@
                    <span class="btn btn-primary" style="margin: 0;"><i class="bi bi-pencil"></i></span>
                    <span class="btn btn-danger"><i class="bi bi-trash"></i></span>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h2>Промокоди не знайдено</h2>
}