@model ProductCreateViewModel

<div style="width: 40%; margin: 0px auto; background-color: lightgoldenrodyellow; border-radius: 5px; padding: 10px; border: 2px solid black;">
    <h1>@(Model.IsEdit ? "Редагування нового продукту" : "Створення нового продукту")</h1>
    <form asp-action=@(Model.IsEdit ? "Edit" : "Create") enctype="multipart/form-data" method="post" class="d-flex align-items-center flex-column">
        <input type="text" class="form-control" asp-for="Product.Id" hidden>
        <input type="text" class="form-control" asp-for="Product.Image" hidden/>
        <div style="width: 90%;">
            @if (Model.IsEdit)
            {
                <div class="text-center">
                    <img style="width: 75%; border: 1px solid black;" alt="@Model.Product.Name" src="~/images/products/@(Model.Product.Image ?? "productDefault.png")" />
                </div>
            }
            <div>
                <label for="name" class="col-form-label">Назва</label>
                <input type="text" class="form-control" asp-for="Product.Name">
            </div>
            <div>
                <label for="description" class="col-form-label">Опис</label>
                <textarea asp-for="Product.Description" id="tinyeditor"></textarea>
            </div>
            <div>
                <label for="price" class="col-form-label">Ціна</label>
                <input type="number" class="form-control" asp-for="Product.Price">
            </div>
            <div>
                <label for="amount" class="col-form-label">Кількість</label>
                <input type="number" class="form-control" asp-for="Product.Amount">
            </div>
            <div>
                <label for="image" class="col-form-label">Зображення</label>
                <input type="file" class="form-control" asp-for="File">
            </div>
            <div>
                <label for="category" class="col-form-label">Категорія</label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="Model.Categories">
                </select>
            </div>
        </div>
        <div style="text-align: center; padding-top: 10px;">
            <input type="submit" value=@(Model.IsEdit ? "Зберегти" : "Створити") class="btn btn-primary" />
            <a class="btn btn-dark" asp-action="Index">Повернутися</a>
        </div>
    </form>
    @if (Model.Errors != null)
    {
        <div class="text-center d-flex flex-column mt-3">
            @foreach (var error in Model.Errors)
            {
                <label style="font-size: 0.9em; color: red;">@error</label>
            }
        </div>
    }
</div>